@media(max-width: 1150px) {
    /* Секция с блюром (вертикально) */
    .weather-details {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 520px;   
        height: 65vh;
        background: transparent;
        backdrop-filter: none; /* ← УБИРАЕМ блюр отсюда! */
        box-shadow: none; 
        overflow: hidden;
    }

    .details__section {
        z-index: 2;
    }

    .weather-details::before {
        content: '';
        position: absolute;
        inset: 0;
        backdrop-filter: blur(15px);
        mask-image: linear-gradient(
            to bottom,
            transparent 0%,
            black 15%,
            black 100%
        );
        -webkit-mask-image: linear-gradient(
            to bottom,
            transparent 0%,
            black 15%,
            black 100%
        );
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    }

    /* ОБЩИЕ СТИЛИ */

    /* body {
        background-image: url(/images/main-section/bg-weather.png);
    } */

    p {
        font-size: 16px;
        color: #FFFFFF;
    }

    h3 {
        font-size: 18px;
        color: #FFFFFF;
    }

    .container {
        max-width: 900px;
    }

    /* СЕКЦИЯ О КРАТКОЙ ИНФОЙ О ПОГОДЕ */

    .main__container {
        bottom: 65%;
    }
    .main__temp {
        font-size: 85px;
    }

    .main__cityDate h1 {
        font-size: 50px;
    }

    .main__icon {
        height: 55px;
        width: 55px;
    }

    /* Секция с ПОИСКОМ */

    .search__container {
        position: absolute;
        right: 60px;
        top: 15px;
    }

    .search__main {
        width: 305px;
        height: 45px;
    }

    .search__main::placeholder {
        font-size: 18px;
    }

    .search__container img {
        right: 12px;
        top: 6px;
    }


    /* Секция с подробной инфой о погоде */

    .weather-details{
        position: absolute;

        width: 100%;
        max-width: 1300px;
    }

    .details__title {
        margin-top: 125px;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 50px;
        text-align: center;
        position: relative; /* для псевдоэлемента */
    }

    .details__title::after {
        top: 400px;
    }

}


@media(max-width: 680px) {

    /* ОБЩИЕ СТИЛИ */

    /* body {
        background-image: url(/images/main-section/bg-weather3.png);
    } */

    p {
        font-size: 13px;
        color: #FFFFFF;
    }

    h3 {
        font-size: 16px;
    }

    .container {
        max-width: 400px;
    }

    /* СЕКЦИЯ О КРАТКОЙ ИНФОЙ О ПОГОДЕ */

    .main__container {

        right: 0;
    }

    .main__temp {
        font-size: 55px;
    }

    .main__cityDate h1 {
        font-size: 35px;
    }

    .main__icon {
        height: 40px;
        width: 40px;
    }

    /* Секция с ПОИСКОМ */

    .search__container {
        position: absolute;
        right: -50px;
        top: 20px;
    }

    .search__main {
        width: 150px;
        height: 20px;
    }

    .search__main::placeholder {
        font-size: 13px;
    }

    .search__container img {
        right: 4px;
        top: 6px;
        width: 12px;
        height: 11px;
    }


    /* Секция с подробной инфой о погоде */

    .weather-details{
        margin-top: -650px;
        width: 100%;
        max-width: 1300px;
    }

    .details__title {
        margin-top: 125px;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 50px;
        text-align: center;
        position: relative; /* для псевдоэлемента */
    }

    .details__title::after {
        top: 400px;
    }

    .details__container {
        width: 295px;

    }
}


@media(max-width: 550px) {

    /* ОБЩИЕ СТИЛИ */

    p {
        font-size: 9px;
        color: #FFFFFF;
    }

    h3 {
        font-size: 12px;
    }

    .container {
        max-width: 300px;
    }

    /* СЕКЦИЯ О КРАТКОЙ ИНФОЙ О ПОГОДЕ */

    .main__container {
        min-width: 200px;
    }

    .main__temp {
        font-size: 40px;
    }

    .main__cityDate h1 {
        font-size: 20px;
    }

    .main__date {
        font-size: 9px;
    }

    .main__icon {
        height: 30px;
        width: 30px;
    }

    /* Секция с ПОИСКОМ */

    .search__container {
        position: absolute;
        left: 180px;
        width: 100px;
    }

    .search__main {
        width: 100px;
        height: 15px;
    }

    .search__main::placeholder {
        font-size: 10px;
    }

    .search__container img {
        left: 87px;
        width: 10px;
        height: 10px;
    }


    /* Секция с подробной инфой о погоде */


    .details__title {
        margin-top: 125px;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 50px;
        text-align: center;
        position: relative; /* для псевдоэлемента */
    }

    .details__title::after {
        top: 300px;
        width: 200px;
    }

    .details__container {
        width: 210px;
    }

    .details__section {
        gap: 15px;
    }

    .details__temp-icon img {
        max-width: 18px;
        max-height: 20px;
    }

    .details__title {
        margin-top: 90px;
        margin-bottom: 60px;
    }
}